name: Node.js CI Windows Platform

on: [push, pull_request]

env:
  PYTHON_VERSION: '3.11'

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        api_version:
          - standard
          - experimental
        node-version:
          - 18.x
          - 20.x
          - 22.x
        architecture: [x64, x86]
        os:
          - windows-2019
          - windows-2022
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
      with:
        node-version: ${{ matrix.node-version }}
        architecture: ${{ matrix.architecture }}
    - name: Check Node.js installation
      run: |
        node --version
        npm --version
    - name: Install dependencies
      run: |
        npm install
    - name: npm test
      shell: bash
      run: |
        if [ "${{ matrix.api_version }}" = "experimental" ]; then
          export NAPI_VERSION=2147483647
        fi
        npm run pretest -- --verbose
        node test
