name: Node.js CI Windows Platform

on: [push, pull_request]

env:
  PYTHON_VERSION: '3.11'

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        api_version:
          - standard
          - experimental
        node-version:
          - 20.x
          - 22.x
          - 24.x
          - 25.x
        architecture: [x64, x86]
        os:
          - windows-2022
          - windows-2025
        exclude:
          # Skip when node 24.x or 25.x AND architecture is x86 since there is
          # no published Node.js x86 build for those versions.
          - node-version: 24.x
            architecture: x86
          - node-version: 25.x
            architecture: x86
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
        architecture: ${{ matrix.architecture }}
    - name: Check Node.js installation
      run: |
        node --version
        npm --version
    - name: Install dependencies
      run: |
        npm install
    - name: npm test
      shell: bash
      run: |
        if [ "${{ matrix.api_version }}" = "experimental" ]; then
          export NAPI_VERSION=2147483647
        fi
        npm run pretest -- --verbose
        node test
