name: Style Checks

on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    if: github.repository == 'nodejs/node-addon-api'
    strategy:
      matrix:
        node-version: [22.x]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
    - run: git branch -a
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: FORMAT_START=refs/remotes/origin/main npm run lint
