name: Style Checks

on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    if: github.repository == 'nodejs/node-addon-api'
    strategy:
      matrix:
        node-version: [22.x]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - run: git branch -a
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: FORMAT_START=refs/remotes/origin/main npm run lint
