name: Node.js CI with node-api-headers

on: [push, pull_request]

env:
  PYTHON_VERSION: '3.11'

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        api_version:
          - '9'
        node-version:
          - 22.x
        node-api-headers-version:
          - '1.1.0'
          - '1.2.0'
          - '1.3.0'
        os:
          - ubuntu-latest
        compiler:
          - gcc
          - clang
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Check Node.js installation
      run: |
        node --version
        npm --version
    - name: Install dependencies
      run: |
        npm install
        npm install "node-api-headers@${{ matrix.node-api-headers-version }}"
    - name: npm test
      run: |
        export NAPI_VERSION=${{ matrix.api_version }}
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          export CC="gcc" CXX="g++"
        fi
        if [ "${{ matrix.compiler }}" = "clang" ]; then
          export CC="clang" CXX="clang++"
        fi
        echo "CC=\"$CC\" CXX=\"$CXX\""
        echo "$CC --version"
        $CC --version
        echo "$CXX --version"
        $CXX --version
        export CFLAGS="$CFLAGS -O3 --coverage" LDFLAGS="$LDFLAGS --coverage"
        export use_node_api_headers=true
        echo "CFLAGS=\"$CFLAGS\" LDFLAGS=\"$LDFLAGS\""
        npm run pretest -- --verbose
